/* Estilos globais */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s ease;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    text-align: center;
    padding: 20px 0;
}

.title {
    font-size: 28px;
    margin: 0;
}

.subtitle {
    font-size: 18px;
    margin: 10px 0;
}

.dark-mode-toggle {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}

.project-box {
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    border-radius: 12px;
    /* Adiciona o border-radius */
}

.project-box:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dark-mode {
    background-color: #333;
    color: #fff;
}

.dark-mode .title,
.dark-mode .subtitle {
    color: #fff;
}

.dark-mode .project-box {
    background-color: #4d4d4d;
}

.project-box a {
    color: #007bff;
    /* Cor padrão das âncoras */
    text-decoration: none;
}

.dark-mode .project-box a {
    color: #989c9f;
    /* Cor das âncoras no modo escuro */
}

.project-box a:hover {
    text-decoration: underline;
}

.dark-mode .project-box a:hover {
    color: #fff;
    /* Cor das âncoras no modo escuro ao passar o mouse */
}


/* Estilos da barra de rolagem */
::-webkit-scrollbar {
    width: 6px;
    /* Largura da barra de rolagem */
    background-color: #333;
    /* Cor de fundo da barra de rolagem */
}

/* Estilos do polegar da barra de rolagem */
::-webkit-scrollbar-thumb {
    background-color: #006400;
    /* Cor do polegar da barra de rolagem */
    border-radius: 8px;
    /* Formato circular do polegar */
}

/* Estilos do polegar da barra de rolagem ao passar o mouse */
::-webkit-scrollbar-thumb:hover {
    background-color: #004000;
    /* Cor do polegar da barra de rolagem ao passar o mouse */
}

/* Background da barra de rolagem */
::-webkit-scrollbar-track {
    width: 8px;
    background-color: #dddddd;
    /* Cor de fundo do background */
}

/* MOdal */


/* Estilos padrão do modal */
.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.about-me {
    display: flex;
    flex-direction: column;
    padding: 2%;
    margin-bottom: 2%;
    align-items: center;
}

.about-me h2 {
    font-size: 3rem;
    margin-bottom: 1%;
}

.about-me p {
    font-size: 1rem;
    margin-bottom: 0;
}


/* Estilos para o tema escuro */
.dark-mode .modal-content {
    background-color: #333;
    color: #fff;
}

.dark-mode .close {
    color: #ddd;
}

.technologies {
    background-color: #f2f2f2;
    padding: 2%;
    margin-bottom: 2%;
}

.technologies h3 {
    font-size: 20px;
}

.technologies ul {
    list-style-type: none;
    padding: 0;
}

.technologies li {
    font-size: 16px;
    margin-bottom: 5px;
}

.technologies i {
    margin-right: 5px;
}